div, section, article {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: initial;
  color: darkslategray;
  font-size: 22px;
  font-family: 'Mitr', sans-serif;
  font-weight: 200;
}

.filters__filter {
  margin: 10px;
  border: 1px solid darkslategray;
  border-radius: 5px;
  padding: 8px 5px;
  display: inline-block;
}

.filters__filter:hover {
  transition: all 0.3s ease;
  cursor: pointer;
  background: darkslategray;
  color: white;
}

.wrapper {
  margin: auto;
  max-width: 1225px;
}

.column__item {
  padding: 0px 10px;
  margin: 0 0 10px 0;
  background: ghostwhite;
  border-radius: 5px;
  border-bottom: 1px solid lightgray;
}

.item__header {
  font-size: 25px;
  font-weight: bold;
}

.item__filters > header {
  font-weight: bold;
}

.item__spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.item__spinner {
}

canvas.item__spinner {
  padding: 20px 10px;
}

.item__spinner > header {
  padding: 20px 10px;
  text-align: center;
}

.item__results {
  margin-top: 20px;
  padding: 20px 50px;
  border-radius: 5px;
  text-align: center;
}

.item__results--filled {
  max-width: 350px;
  box-shadow: 0px 3px 3px 3px #ccc;
}

.item__results--filled:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.filters__filter--checked {
  background: darkslategray;
  color: white;
}

@media (min-width: 800px) {
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .item__filters {
    min-height: calc(100vh - 80px)
  }

  section.item__spinner {
    margin-left: 10px;
    min-height: calc(100vh - 80px)
  }
}
